$txt-color: #747474;

.main_view {
	margin-bottom: 5rem;
}
.content {
	margin: 10px;
}
.section {
	margin-bottom: 100px;
}
.title {
	font-size: xx-large;
	font-weight: bold;
    color: $txt-color;
    text-align: center;
	margin: 2.5rem;
	line-height: 1.6;
}
#backBtn {
	margin-top: 7rem;
    bottom: 0;
    width: 100%;
}
/* scroll indicator */
.scroll-indicator {
	transform: rotate(180deg);
	width: 20px;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    width: 100%;
	position: absolute;
	opacity: .5;
	&::before,
	&::after {
		content: '';
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&::before {
		width: 14px;
		height: 14px;
		border-radius: 10px;
		border: 2px solid #fff;
		animation: dot 1.8s infinite ease-in-out;
	}
	&::after {
		width: 10px;
		height: 10px;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(45deg);
		animation: arrow 1.8s infinite ease-in-out;
		animation-delay: .75s;
		opacity: .25;
	}
	& > div {
		display: block;
		&::before,
		&::after {
			content: '';
			display: block;
			margin: 5px auto;
			border-radius: 20px;
			border: 2px solid #fff;
			animation: dot 1.8s infinite ease-in-out;
		}
		&::before {
			width: 10px;
			height: 10px;
			animation-delay: .25s;
		}
		&::after {
			width: 10px;
			height: 10px;
			animation-delay: .5s;
		}
	}
}

@keyframes dot {
	0% {
		transform: scale(.75);
		opacity: .25;
	}
	25% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.75);
		opacity: .25;
	}
}
@keyframes arrow {
	0% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
	25% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
}

.scroll-indicator:hover {
    cursor: pointer;
}
