
    <div [ngClass]="pageChangeStatus" fxLayout="column">
    
        <div class="content"
        id="content"  
        fxLayoutAlign="center"
        fxLayout="column" 
        >   
        <div class="title">Projects</div>
            <div class="projects_view section" 
                fxLayout="row wrap" 
                fxLayout.lt-lg="column" 
                fxLayoutAlign="center" 
            >
                <app-project-card
                    id="projects"
                    *ngFor="let PROJECTS_LIST of PROJECTS_LIST"
                    [ProjectTitle] = "PROJECTS_LIST.ProjectTitle"
                    [CompanyName] = "PROJECTS_LIST.CompanyName"
                    [ImageSrc] = "PROJECTS_LIST.ImageSrc"
                    [ImageSrc_mobile] = "PROJECTS_LIST.ImageSrc_mobile"
                    [ProjectDesc] = "PROJECTS_LIST.ProjectDesc"
                    [ProjectLink] = "PROJECTS_LIST.ProjectLink"
                    [ProjectGithub] = "PROJECTS_LIST.ProjectGithub"
                ></app-project-card>    
            </div>


        <div class="title">UI/UX and Designs</div>
            <div class="designs_view section" 
                fxLayout="row wrap" 
                fxLayout.lt-lg="column" 
                fxLayoutAlign="center" 
            >
                <app-design-card
                    id="designs"
                    *ngFor="let DESIGNS_LIST of DESIGNS_LIST"
                    [DesignTitle] = "DESIGNS_LIST.DesignTitle"
                    [CompanyName] = "DESIGNS_LIST.CompanyName"
                    [ImageSrc] = "DESIGNS_LIST.ImageSrc"
                    [ImageSrc_mobile] = "DESIGNS_LIST.ImageSrc_mobile"
                    [DesignDesc] = "DESIGNS_LIST.DesignDesc"
                    [DesignLink] = "DESIGNS_LIST.DesignLink"
                ></app-design-card>
            </div>
        </div>
        
    </div>
 
 