<ng-container *ngIf="!(contactMeStatus | async); else elseTemplate">
    <div  class="container">
        <div class="card" [ngClass]="pageChangeStatus" >
            <div class="section" >
                <img class="avatarImg"  height="100" width="100" src="https://f000.backblazeb2.com/file/public-data/avatar_sm.png" alt="avatar_img">
            
                <div class="quickInfoWrapper">
                    <div class="name">Asadbek Karimov</div>
                    <div class="job-title">Full-Stack Developer</div>
                    <div class="links" >
                        <a class="link-item fa fa-github" href="https://github.com/asadbek064"></a>
                        <a class="link-item fa fa-stack-overflow" href="https://stackoverflow.com/users/8628497/karimov"></a>
                        <a class="link-item fa fa-linkedin" href="https://www.linkedin.com/in/asadbekkarimov/"></a>
                        <a class="link-item fa fa-file" style="font-size: 14.5pt;" href="https://f000.backblazeb2.com/file/public-data/Asadbek_Karimov_Resume_MDRN.pdf"></a>
                    </div>
                </div>
            </div>
        
            <div class="section sub">
                <div class="summary">I'm a web developer who loves building amazing full fledged web applications.</div>
            </div>
        
            <div class="section contactBtn " (click)="ContactMe()">
                <a><i class="fa fa-envelope"></i> Contact Me</a>
            </div>
        </div>
    
        <div class="scroll-indicator" (click)="OpenProject()"[matTooltipPosition]="'above'" matTooltip="Projects">
            <div class="dots"></div>
        </div>
    
    </div>    
</ng-container>
<ng-template #elseTemplate>
    <div class="contactMeWrapper">
        <app-contact-me class="animate__animated animate__fadeIn faster" fxLayoutAlign="center"></app-contact-me>
    </div>
</ng-template>

