<ng-container *ngIf="!contactMeStatus; else elseTemplate">
    <div  class="container">
        <div class="card" [ngClass]="pageChangeStatus" >
            <div class="section" >
                <img class="avatarImg"  height="100" width="100" src="https://f000.backblazeb2.com/file/public-data/avatar_sm.png" alt="avatar_img">
            
                <div class="quickInfoWrapper">
                    <div class="name">Asadbek Karimov</div>
                    <div class="job-title">Full-Stack Developer</div>
                    <div class="links" >
                        <a class="link-item fa fa-github"></a>
                        <a class="link-item fa fa-stack-overflow"></a>
                        <a class="link-item fa fa-linkedin"></a>
                        
                    </div>
                </div>
            </div>
        
            <div class="section sub">
                <div class="summary">I'm a web developer who loves building amazing full fledged web applications.</div>
            </div>
        
            <div class="section contactBtn " (click)="ContactMe()">
                <a><i class="fa fa-envelope"></i> Contact Me</a>
            </div>
        </div>
    
        <div class="scroll-indicator" (click)="OpenProject()" >
            <div class="dots"></div>
        </div>
    
    </div>    
</ng-container>
<ng-template #elseTemplate>
    <div class="contactMeWrapper">
        <app-contact-me fxLayoutAlign="center" [openState]="contactMeStatus"></app-contact-me>
    </div>
</ng-template>
