mat-card {
    margin: 1rem;
    width: 500px;
}

mat-card-content{
    margin: 0.5rem;
    line-height: 2;
    font-size: medium;
    font-weight:lighter;
    padding-top: 2.5%;
}

.button {
    margin: 20px;
}

mat-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px!important;
  margin: 1rem;
  /* galssmorphism */
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

mat-card-title {
  font-weight: bold;
  color:#353839;
  font-size: x-large!important;
  line-height: 1.4;
}

.mobile_thumbnail > img {
  border-radius: 10px;
}



@media only screen and (max-width: 600px) { 

  mat-card-content {
    font-size: small;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    mat-card {
        height: auto;
    }
}

/* ----------- iPhone X ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    mat-card {
        height: auto;
    }
}
