mat-card {
    margin: 1rem;
}

mat-card-content{
    margin: 0.5rem;
    line-height: 2;
    font-size: medium;
    font-weight:lighter;
    padding-top: 2.5%;
}

.button {
    margin: 20px;
}

mat-card {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15)!important;
  margin: 1rem;
  /* galssmorphism */
  background: rgba( 255, 255, 255, 0.60 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

mat-card-title {
  font-weight: bold;
  color:#353839;
  font-size: x-large!important;
  line-height: 1.4;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    mat-card {
        height: auto;
    }
}

/* ----------- iPhone X ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    mat-card {
        height: auto;
    }
}
