<div flex fxLayoutAlign="center">
    <mat-card 
        fxFlex.lt-md="95%" 
        fxFlex="90%"
        >
        <mat-card-header>
            <mat-card-title>{{ DesignTitle }}</mat-card-title>
            <mat-card-subtitle>{{ CompanyName}}</mat-card-subtitle>
        </mat-card-header>

        <div >
            <carousel
                [height]="300"
                [cellsToShow]="1"
                [images]="ImageSrc"
                [dots]="true"
            >
            </carousel>
        </div>

        <!-- <div *ngIf="isMobile" fxLayoutAlign="center" class="mobile_thumbnail" (click)="goToLink(DesignLink.Link)">
            <img src="{{ ImageSrc_mobile }}" alt="UI/UX_work_thumbnail" width="300" >
        </div> -->
        <mat-card-content >
            {{ DesignDesc }}
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button
                class="button" 
                mat-raised-button color="primary" 
                [disabled]="DesignLink.ButtonStatus"
                (click)="goToLink(DesignLink.Link)"
            > <i class="fa fa-mouse-pointer"></i>FULL SIZE</button>
          </mat-card-actions>
    </mat-card>

</div>