

/* BACKGROUND START ANIMATION */
#projectView {
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.background_effect{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 0;
	/* background: radial-gradient(ellipse at bottom, #2a3d52 0%, #090A0F 115%); */

	background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background: linear-gradient(to left top, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	opacity: 60%;
	background-size: 200% 200%;
	-webkit-animation: gradient 20s ease infinite;
			animation: gradient 20s ease infinite;
}

/* backgfround start effect */
@media only screen and (max-width: 600px) {

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}