$txt-color: #747474;

.main{
	margin-bottom: 100px;
}

.title {
	font-size: xx-large;
	font-weight: bold;
    color: $txt-color;
    text-align: center;
	margin: 2.5rem;
	line-height: 1.6;
}

.container {

    .skills, .message {
        border-radius: 10px; 
        padding: 35px;
        background-color: white;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    }

    .skills {
        height: 500px;
        width: 400px;
       
   }
   .message {
        width: 600px;
        height: 500px;
        z-index: 2;
        font-size: 20px;
        line-height: 2;
        color: #272727;     
   }

  
}

.bold {
    font-weight: bold;
}

.svg-icons >img {
    height: 40px;
}

.experience {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: $txt-color;
}

.highlight {
    font-size: 22px;
}

.title {
	font-size: 3rem;
}

@media only screen and (max-width: 600px) {
    .message {
        font-size: 14px!important;
        width: 350px!important;
        height: 100%;
    }

    .skills {
        width: 350px!important;
    }

    .svg-icons >img {
        height: 35px;
    }

    .title {
        font-size: 2rem;
    }
}