<div class="main" >
    <div fxLayout="column" >
        <div class="title">About Me</div>

        <div 
            class="container" 
            fxLayout="row" 
            fxLayoutGap="10px" 
            fxLayoutAlign="center"
            
            fxLayout.xs="column">
            <div 
                class="skills" 
                fxLayoutAlign="center" 
                fxLayout="row" 
                fxLayoutGap="50px"
                
                
                fxLayoutGap.xs="45px"
                >
                <div 
                    class="svg-icons" 
                    fxLayoutAlign="center center"
                    fxLayoutGap="25px"
                    fxLayout="column"
                >
                <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/mongodb.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/express-109.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/nodejs.svg">     
                    <img src="https://cdn.worldvectorlogo.com/logos/jquery-1.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/heroku-1.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/git.svg">
                  </div>
                  
                  <div 
                    class="svg-icons"
                    fxLayoutAlign="center center"
                    fxLayoutGap="42px"
                    fxLayout="column"
                  >
                    <img src="https://cdn.worldvectorlogo.com/logos/typescript.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/python-5.svg">
                    <img src="https://cdn.worldvectorlogo.com/logos/c.svg">

                  </div>
                  
            </div>
            <div class="message" fxLayoutAlign="center start" fxLayout="column">
                   <span> 
                    Hi, I am Asadbek I live in NYC as a FullStack Developer. I've been a professional developer for more than 4 years. I've mostly worked professionally with MEAN stack and use mostly C++, Python, and TS on daily basis.
                    I like building new stuff and work with other people - <span class="bold">nothing really interesting is ever built alone!</span></span>
            
                <div class="experience">
                    <div class="highlight">Recent Work</div>
                    <mat-chip-list >
                        <mat-chip>
                            <a href="https://animet.tk/" target="_blank">
                                Animet
                            </a>
                        </mat-chip>
                        <mat-chip>
                            <a href="https://www.pieshares.com/" target="_blank">
                                PieShares, Inc
                            </a>
                        </mat-chip>
    
                    </mat-chip-list>
                </div>
            </div>
    </div>

</div>