mat-dialog-content {
    width: 500px;
  form {
      width: 100%;
     
  }

  button {
      width: 50%;
      align-self: center;
  }
  
}


.email {
    width: 30vw;
}
.message {
    height: 15vh;
    width: 30vw;
    resize: none;
}
.email, .message {
    font-size: large!important;
}

.back-arrow {
    font-size: x-large;
    transition: 0.22s;
}
.back-arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
    .email, .message {
        width: 100%;
    }
}