mat-dialog-content {
    min-width: 300px;
  form {
      width: 100%;
     
  }

  button {
      width: 50%;
      align-self: center;
  }
  
}


.email {
   width: 100% ;
}
.message {
    width: 100%;
    min-height: 150px;
    height: auto;
    resize: none;
}
.email, .message {
    font-size: large!important;
}

.back-arrow {
    font-size: x-large;
    transition: 0.22s;
}
.back-arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}
@media only screen and (max-width: 600px) {
    .email, .message {
        width: 100%;
    }

    mat-dialog-content {
        min-width: 250px;
    }
}