mat-accordion {
    margin: 1rem;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.email {
    width: 30vw;
}
.message {
    height: 15vh;
    width: 30vw;
    resize: none;
}
.email, .message {
    font-size: large!important;
}
.form-field {
    margin-top: 1rem;
}
.form-container {
    button {
        margin: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .email, .message {
        width: 85vw;
    }
}